.Alert {
    position: fixed;
    z-index: 9999;
    top: 50px;
    left:50%;
    transform: translate(-50%);
    width: 500px;
    background: white;
    box-shadow: 1px 1px 1px black;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
}